alembic==1.13.1
celery==5.3.6
dnspython==2.6.1
eventlet==0.36.1
fastapi==0.110.0
greenlet==3.0.3
gunicorn==21.2.0
pydantic==2.6.4
redis==5.0.3
SQLAlchemy==2.0.28
starlette==0.36.3
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
uvicorn==0.32.0
dotenv==0.9.9
PyYAML==6.0.2
pymongo==4.11.2
python-ulid==3.0.0
pytz==2025.1
psycopg==3.2.5
psycopg-binary==3.2.5
#psycopg-c==3.2.5
kafka_python==2.0.2
krbticket==1.0.6
fastdfs-client-py3==1.0.0
requests==2.32.3
paho-mqtt==2.1.0
elasticsearch==8.17.2